.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

.container > form{
  width: 70%;
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

pre{
  width: 70%;
  color: white;
  font-size: larger;
}

button:hover{
  background: blueviolet;
}
button{
  background: gold;
}

p{
  colro:red
}